p {
    text-align: justify;
    text-justify: inter-word;
}
audio {
    border-radius: 0%;
	width: 100%;
}
img {
    max-height:500px;
    max-width: 100%;
    height:auto;
    width:auto;
}
dd {
	height:300px;
	
  justify-content: center;
  align-items: center;
}